.card-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    width: 450px;
    background: rgba(255,255,255, .5);
    padding: 1.8rem;
    border-radius: 10px;
    position: relative;
}
.login-card::before {
    content: '';
    position: absolute;
    background: rgba(255,255,255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}
.card-logo {
    margin-bottom: 1rem;
}
.card-logo img {
    width: 250px;
}
.card-logo, 
.card-header {
    text-align: center;
}
.login-card a {
    text-decoration: none;
    color: black;
}
.login-card a:hover {
    text-decoration: underline;
}
.card-header {
    margin-bottom: 2rem;
}
.card-header h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.card-header h1 + div {
    font-size: calc(1rem * .8);
    opacity: .8;
}
.card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.card-form .form-item {
    position: relative;
}
.card-form .form-item::placeholder {
    color:dimgray;
}
.card-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem* .9);
    margin-bottom: .5rem;
}
.login-card input {
    border: none;
    background: rgba(255,255,255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}
.login-card input:focus {
    background: white;
}

.card-form .form-radio {
    display:unset;
    align-items: left;
    gap: 7px;
    outline-width: 20px;
}
.form-radio input[type="radio"] {
    width: 16px;
    height: 15px;
    accent-color: black;
}

.action_btn {
    background-color: rgb(2, 152, 2);
    color: #fff;
    padding: 1rem 4rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    text-decoration: none; 
    letter-spacing: 3px;
    margin-top: 15px;
}
.action_btn:hover {
    scale: 1.5rem;
    background-color: rgb(2, 152, 2);
    padding: 1rem 5rem;
    margin-left: 8px;
    text-transform: uppercase;
}
.action_btn:active {
    scale: 0.95;
}
*,      /* tamanho de caixa do input  */
*::before,
*::after {
    box-sizing: border-box;
}
::placeholder {     /* opacidade do texto fixo do input */
    color: unset;
}
@media (max-width: 768px) {     /*Responsivo*/
    body {
        padding: 2rem 0;
    }
    .login-card {
        width: 280px;
        padding: 2rem;
    }
}